// Colour Scheme
$primary-color: rebeccapurple; 
$secondary-color: #dab2e8; 
$accent-color: #d8aad8;
$highlight-color: #ddd4dd;

// Padding Values 
$standard-padding: 30px; 
$paragraph-spacing: 10px; 

// Heights and Widths 
$header-height: 100px; 
$hero-height: 400px; 