// Colour Scheme
$primary-color: rgba(13, 33, 73, 1); 
$secondary-color: rgba(2, 123, 206, 1); 
$background-color: rgba(242, 244, 243, 1); 
$accent-color: rgba(2, 123, 206, 1);
$highlight-color: rgba(70, 73, 76, 1);
$text-color: rgba(10, 9, 8, 1); 

// Padding Values 
$standard-padding: 30px; 
$standard-margin: 30px; 
$paragraph-spacing: 10px; 

// Heights and Widths 
$header-height: 100px; 
$hero-height: 400px; 

// Transition Values 
$transition-time: 1s; 

// Fonts 
$header-font: 'Playfair Display', serif;
$body-font: 'Fauna One', serif;