button {
    z-index: 20; 
}

%switch-button { 
    background-color: transparent;
    color: $arrow-color;
    
    padding: 0; 
    border: none; 
    border-radius: 64px;  

    position: absolute;
    top: calc(50% - 24px); 
    transition: $fast-transition; 

    &:hover { 
        color: $arrow-hover-color; 
        transform: scale(1.1); 
    } 

    &:focus { 
        // Need a good "Focus" solution for other sites
        outline: none; 
    }
}

#prev-button {
    @extend %switch-button; 
    left: $standard-margin / 2;
}

#next-button {
    @extend %switch-button; 
    right: $standard-margin / 2;
}

#twitter-button {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    background-color: red; 
}