button {
    background-color: transparent;
    color: $accent-color;
    border: none; 
    border-radius: 50px; 
    padding: 0; 

    position: absolute;
    
    z-index: 20; 
}

#prev-button {
    top: 50%;
    left: 0;
}

#next-button {
    top: 50%;
    right: 0;
}

#twitter-button { 
    bottom: 0; 
    left: 50%; 
    background-color: red; 
}