.hero {
    height: $hero-height;

    .container {
        height: 100%;
        background-color: $secondary-color;
        position: relative;
    }

    button {
        background-color: transparent;
        color: $accent-color;
        position: absolute;
        top: 50%;
    }

    #prev-button {
        left: 0;
    }

    #next-button {
        right: 0;
    }
}