#quote-container {
  height: 100%;
  background-color: #dab2e8;
  padding: 0;
  position: relative; }

.quote-card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s; }

#quote-card-center {
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 0; }

#quote-card-right {
  background-color: yellowgreen;
  position: absolute;
  top: 0;
  left: 100%; }

#quote-card-left {
  background-color: papayawhip;
  position: absolute;
  top: 0;
  left: -100%; }

header {
  padding: 30px 0;
  background-color: rebeccapurple; }

h1 {
  text-align: center;
  color: #d8aad8; }

.hero {
  height: 400px; }
  .hero button {
    background-color: transparent;
    color: #d8aad8;
    position: absolute;
    top: 50%; }
  .hero #prev-button {
    left: 0; }
  .hero #next-button {
    right: 0; }

main {
  padding: 30px 0; }
  main h2, main h3 {
    text-align: center;
    margin-bottom: 30px; }
  main p {
    text-align: justify;
    margin-bottom: 10px; }
  main a {
    color: black; }
    main a:hover {
      color: #ddd4dd;
      text-decoration: none; }

footer {
  background-color: rebeccapurple;
  padding-top: 30px;
  padding-bottom: 30px; }
  footer .container {
    display: flex;
    justify-content: center; }
  footer a {
    color: #d8aad8;
    display: inline-flex;
    flex-direction: column;
    align-items: center; }
    footer a i {
      margin-bottom: 10px; }
    footer a p {
      margin: 0; }
    footer a:hover {
      color: #ddd4dd;
      text-decoration: none; }

body {
  background-color: #dab2e8; }
