// Common Variables and the like 
@import "base/variables.scss"; 


// Component / Section Specific Items 
@import "components/quote-container.scss"; 
@import "components/quote-cards.scss"; 
@import "components/buttons.scss"; 

@import "components/header.scss"; 
@import "components/hero.scss"; 
@import "components/main.scss"; 
@import "components/footer.scss"; 


// Page Specific Items
@import "pages/index.scss";